<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DoAn.Properties.Settings>
            <setting name="conStr" serializeAs="String">
                <value>Data Source=JONAS\SQLEXPRESS;Initial Catalog=QLSanBongMini;Integrated Security=True</value>
            </setting>
            <setting name="conStrUser01" serializeAs="String">
                <value>Data Source=JONAS\SQLEXPRESS;Initial Catalog=QLSanBongMini;User ID=User01;Password=123;</value>
            </setting>
        </DoAn.Properties.Settings>
    </userSettings>
</configuration>